
@{
    ViewBag.Title = "Index";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h2>RazorPay pay</h2>

<form action="@Url.Action("PaymentStatus","Razorpay")" method="POST">
    <script src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="rzp_test_6oS5DiV9W7efUx"
            data-amount="@ViewBag.Amount"
            data-currency="INR"
            data-order_id="@ViewBag.orderid"
            data-buttontext="Pay with Razorpay"
            data-name="Seimens Company"
            data-description="Test transaction"
            data-image="https://cdn2.iconfinder.com/data/icons/logistics-delivery-19/64/logistics_delivery-18-512.png"
            data-prefill.name="Yugant Kadu"
            data-prefill.email="yugantkadu@gmail.com"
            data-prefill.contact="8983506792"
            data-theme.color="#F37254"></script>
    <input type="hidden" custom="Hidden Element" name="hidden">
</form>

