
@{
    ViewBag.Title = "PaymentStatus";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width" />
    <title>PaymentStatus</title>
</head>
<body>
    <div>
        @if (ViewBag.IsValidRequest == false)
        {
            <p class="lead"><label class="label-danger">Invalid Request.!</label></p>
        }
        else
        {
            if (ViewBag.IsPaymentSuccess == true)
            {
                <p class="lead"><label class="label-warning">Payment done successfully.!</label></p>
            }
        }
    </div>
    <a href="http://localhost:4200/vehicle-receipt"><input type="button" value="Back To Auto2Auto Application" /></a>
</body>
</html>

